*{
    margin:0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
}
#header{
    width:100%;
    height:100vh;
    background-color: black;
}
.container{
    padding: 10px 5%;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position:static;
}
.logo{
    width: 210px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color:white;
    font-weight:bold;
    position: relative;
}
nav ul li a::after{
    content:'';
    width: 0;
    height: 3px;
    background:#2fab71;
    position: absolute;
    bottom:-6px;
    left:0px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    content:'';
    width: 100%;
    height: 3px;
    background:#2fab71;
    ;
    position: absolute;
    bottom:-6px;
    left:0px;
}
nav .fa-solid{
    display:none;
}
.heading{
    color:white;
    font-size: 60px;
    text-align: center;
}
.row{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis:35%;
}
.about-col-1 img{
    width:100%;
    border-radius: 15px;

}
.about-col-2{
    flex-basis:100%;
}
.subtitle{
    font-size: 60px;
    font-weight:600;
    color:#fff;
}
.tab-titles{
    display: flex;
    margin:20px 0 40px;
}
.tab-links{
    margin-right: 40px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width: 0;
    height:3px;
    background:#2fab71;
    position: absolute;
    left:0;
    bottom:-8px;
    transition:0.5s
}
.tab-links.active::after{
    width: 50%; 
}
.tab-content ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-content ul li span{
    color:#2fab71;
    ;
}
.tab-content{
    display:none;
}
.tab-content.active-tab{
    display:block;
}
@media only screen and (max-width: 600px){
    #header{
        background:black;
    }
    .about-col-2 img{
        width:90%;
        margin-bottom: 10px;
    }
    .about-col-2{
        position: absolute;
    }
    .row{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
    }
    .logo{
        width: 200px;
        margin-top: 30px;
    }
    .header-text{
        margin-top: 50%;
        font-size: 22px;
    }
    .header-text h1{
        margin-top: 5%;
        font-size: 40px;
    }
    nav .fa-solid{
        display:block;
        font-size: 25px;
    }
    .tab-links{
        margin-right: 20px;
    }
    nav ul{
    background:#2fab71;
        position: fixed;
        top:0;
        right:-200px;
        width:200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    .tab-content ul li{
        display: block;
        list-style: disc;
        margin: 5px;
    }
    nav ul li{
        display:block;
        margin:25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor:pointer;
    }
    .subtitle{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 20px ;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    span h3{
        color:#2fab71;
        ;
    }
}
.images{
    width:90%;
    height:auto;
    border-radius: 10px;
}
.w1{
    display: grid;
    grid-template-columns: 25% 70%; 
}
#type{
    list-style-type: disc;
}
#work_head{
    color:#fff;
    text-shadow: 1px 1px 2px #2fab71;
    display: grid;
    grid-template-columns: 2fr 1fr;
}
ol li{
    line-height: auto;
}
.fa-solid fa-arrow-up-right-from-square{
    color: #99f1d8;
}
